{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "9.1.0"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "presets": [
        "minify"
      ]
    }
  }
}